
/* nav */

nav{

    height: 100px;
   
  }
  a{
    text-decoration: none;
  }
  nav a{
    text-decoration: none;
    color: black;
  }
  nav a:hover{
    color:#3face4;
  }
  .icon{
    color:#3face4;
    background-color: #3face4;
  }
  

  /* footer */
  footer{
    padding-top: 50px;
  background-color: black;
  color: white;
  padding-bottom: 100px;
  }
  
  
  footer  li {
   margin-left: -30px;
    display: block;
  margin-top: 10px;
  }
  footer a{
    text-decoration: none;
    color: rgb(167, 167, 167);
  }
  footer a:hover{
  
    color:#3face4;
  }
  .fp{
    color: rgb(167, 167, 167) ;
  }
  .nw-btn{
    background-color: #3face4;
    color: white;
  }
  .inf{
    color: #3face4;
  }
  /* home hedar */

  .bey{
    color: white;
    font-size: 70px;
  margin-top: 50px;
  /* margin-left: 100px; */
  margin-bottom: 50px;
  }
  .hire{
    padding: 10px 40px;
    background-color: #3face4;
    color: white ;
   
    /* margin-left: 100px; */
    border-radius: 10px;
  }
  .himg{
    background-image: url(./assets/home-banner-bg.jpg);
    height: 500px;
    background-size: cover;
  }





  .lat  {
    text-align: center;
    color:  rgb(167, 167, 167);
    margin-top: 50px;
  }
  .card-title a{
    color: black;
  }
  .card-title a:hover {
    color:#3face4;
  } 
  .single-news:hover{
    border: none;
    box-shadow: 0px 0px 15px #d8d8d8, 0px 0px 15px#cfcfcf, 0px 0px 15px#d4d4d4;
  }





  .kk span{
    padding:40px 35px;
    background-color: #3face4;
    border-radius: 50%;
    position: absolute;
margin-top: -5px;
margin-left: 10px;
color: white;
  }
  .kk{
    width:170px;
    height:170px;
    padding:30px 10px;
 border-bottom:5px solid white;
 border-top:5px solid white;
 border-right:5px solid white;
 border-left:5px solid rgb(0, 0, 0);
 border-radius: 50%;
 margin-top: 50px;


  }
  .kk:hover{
    border-bottom:5px solid #3face4;
    border-top:5px solid #3face4;
    border-right:5px solid #3face4;
    span{
      background-color: white;
      color: #3face4;
    }
  }
  .cli{
    color: #d8d8d8;
    
  }
  .cli:hover{
    color:#3face4;
  }
  .we{
    color: white;
    margin-top: 100px;
  }
  .inp{
    color: #d8d8d8;
    margin-top: 30px;
  }
  .but{
    padding: 20px 40px;
    color: #000;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
  }
  .butt{
    padding: 20px 40px;
    color: white;
   border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
  }
  .butt:hover{
  
    color: #000;
  
   background-color: white;
    
  
  }




  .comment{
    height: 400px;
    background: linear-gradient(rgba(0, 204, 255, 0.5),rgba(0, 204, 255, 0.5) ),url("./assets/testimonial-bg.jpg");
  }

  .jan{
    color: white;
    padding: 5px 10px;
    background-color: #000;
  }


  .bimg{
    background-image: url(./assets/blog-banner-bg.jpg);
    height: 500px;
    background-size: cover;
    color:white;
  }
  .bire{
    padding: 10px 40px;
    background-color: white;
    color: black ;
   
    /* margin-left: 100px; */
    border-radius: 10px;
  }
  .food1{
    background-image: url(./assets/cat-widget1.jpg);
  }
  .food2{
    background-image: url(./assets/cat-widget2.jpg);
  }
  .food3{
    background-image: url(./assets/cat-widget3.jpg);
  }


  .food{
   
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .fod{
 
    background-color: #000000a5;
    height: 170px;
    width: 300px;
    color: white;
    text-align: center;
    
  }
  .fod:hover{

    background-color: #3fade4a5;
  
    
  }
  .fod h4{
    margin-top: 50px;
    border-bottom: 2px solid white;
    width: 150px;
    margin-left: 70px;
  }
  .imgb1{
    background-image: url(./assets/img1.jpg);
  }
  .imgb2{
    background-image: url(./assets/img2.jpg);
  }
  .imgb3{
    background-image: url(./assets/img3.jpg);
  }
  .imgb4{
    background-image: url(./assets/img4.jpg);
  }
  .imgb5{
    background-image: url(./assets/img5.jpg);
  }
  .imgb{
    
   height: 300px;
    background-size: cover;
  }
  .binp{
    background-color: #3face4;
    border-radius: 50px;
    border: none;
    color: white;
  }
  .bbinp{
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(198, 198, 198);
  }
  .bbimg{
    border-bottom: 1px solid rgb(198, 198, 198);
  }
  .pop{
    background-color: #3face4;
    color: white;
   text-align: center;
   padding: 10px 0px;
   margin-top: 20px;
  }
  .bbg{
background-color: #f0f4f7;
  }
  .common-text{

    margin-top:64px ;
    width: 100%;
    height: 145px;
  }
  .send{
    background-color: #3face4;
    border: none;
  }
